@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
:root {
  --font: "Roboto", sans-serif;
  --main-color: lightseagreen;
  --secondary-color: coral;
  --secondary-color-accent: hsl(16, 100%, 64%);
  z-index: 0;
}

:hover {
  transition: all 0.15s;
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 1fr 6fr / 1fr 6fr;
  font-weight: 400;
  font-family: var(--font);
  letter-spacing: 0.08em;
  scrollbar-width: none;
}

.left-container {
  background-color: var(--main-color);
  color: white;
  border-right: 3px solid white;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 50px));
  min-height: 45vh;
}
.left-container > div {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 20px;
}
.left-container > div:first-child {
  border-bottom: 2px hsl(177, 100%, 30%) solid;
}
.left-container p {
  cursor: pointer;
}
.list {
  font-size: 1.2rem;
}
.left-container > *:hover {
  color: var(--main-color);
  filter: brightness(150%);
}
.list > .icon {
  margin-right: 10px;
}

.top-container {
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
      135deg,
      var(--secondary-color-accent) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--secondary-color-accent) 25%, transparent 25%),
    linear-gradient(45deg, var(--secondary-color-accent) 25%, transparent 25%),
    linear-gradient(315deg, var(--secondary-color-accent) 25%, coral 25%);
  background-position: 23px 0, 23px 0, 0 0, 0 0;
  background-size: 46px 46px;
  background-repeat: repeat;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 25px; /*top container font size*/
}
.search,
.greeting,
.account,
.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search > *,
.account > *,
.buttons > * {
  margin: 10px;
}

/* search input */

input[type="search"] {
  border-radius: 15px;
  flex: 1;
  border: none;
  height: 30px;
  max-width: 600px;
  font-family: var(--font);
  font-weight: 600;
  color: var(--main-color);
  padding: 8px;
}
input[type="search"]:focus {
  outline: none;
  background-color: whitesmoke;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* text */

.top-container a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--main-color);
}

.greeting-text.title {
  font-weight: 200;
}

.greeting-text.subtitle {
  font-size: 1.2em;
  font-weight: 600;
}

/* buttons */

.account,
.buttons {
  justify-content: right;
}
.buttons * {
  height: 2rem;
  width: 6rem;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: white;
  border-radius: 2rem;
  font-size: 0.8em;
  cursor: pointer;
}

.buttons *:hover {
  filter: brightness(110%);
}

/* images */

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  height: 50px;
}
.big.avatar {
  height: 80px;
  margin-right: 30px;
}

.big-avatar:hover,
.small-avatar:hover {
  border-color: var(--main-color);
}

.main-container {
  background-color: #eee;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main-container > div {
  margin: 10px;
}

.main-container h2 {
  margin-bottom: 30px;
}
.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.projects {
  grid-row: 1 / 3;
}

.project-grid {
  height: calc(100% - 55px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.project.card {
  max-height: 500px;
  padding: 10px;
  border-left: 10px var(--secondary-color) solid;
}
.project.card p{
  color: gray;
  cursor: pointer;
}
.project.card .icon {
  margin: 5px;
}
.card .icon:not(.checked) {
  opacity: 0.3;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .project.card:hover {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: scale(1.2);
    z-index: 1;
  }
}

.announcements.card {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}
.announcements.card > div {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.announcements.card div:last-child {
  border: none;
}
.announcements.card p,
.trending .card p {
  color: gray;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.trending.card {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 15px;
  justify-content: left;
  align-items: center;
  padding: 8px;
}
.trending > .avatar {
  margin-right: 30px;
}
.trending.item {
  display: flex;
  justify-content: center;
}
.trending.card:hover {
  transition: background-color 0.15s;
  background-color: #ddd;
}

footer{
  grid-column: 1 / 3;
  background: linear-gradient(90deg, white, #eee);
}
